#mainContainer {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

#inputEmail{
  margin-top:  30px;
}

#inputPassword{
  margin-top:  10px;
  margin-bottom: 20px;
}

#titleLogin{
  margin-left: 50px;
}

body {
    background-image: url("back.jpg");
}

#coverIcon{
  margin-left: 70px;
}

#sidebar{
  margin-top: 70px;
}

#mainContainerS {
  margin-top: 70px;
}
